<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
  <script src="{% static common.js %}"></script>
  <div class="popup-overlay">
    <div class="popup">
      <p>Please agree to continue</p>
      <a href="javascript:;" class="close">Close</a>
      <a href="javascript:;" class="submit">Agree</a>
    </div>
  </div>
  <div class="memes">
    {% for x in memes.data.memes %}
      {% if forloop.counter <= 5 %}
        <img src="{{ x.url }}" alt="img">
      {% endif %}
    {% endfor %}
  </div>
  <!-- <p><a href="{% url 'logout' %}">Log Out</a></p> -->
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}