<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <div class="popup-overlay">
      <div class="popup">
        <p>Please agree to continue</p>
        <a href="javascript:;" class="close">Close</a>
        <a href="javascript:;" class="submit">Agree</a>
      </div>
    </div>
    <div class="memes">
      <div class="container">
        <div class="row">
          <div class="col-12 col-sm-8 col-lg-5">
            <h6 class="text-muted">Memes</h6> 
            <ul class="list-group">
            {% for x in memes.data.memes %}
              {% if forloop.counter <= 5 %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                  {{ x.name }}
                  <div class="image-parent">
                      <img src="{{ x.url}}" class="img-fluid" alt="quixote">
                  </div>
                </li>
              {% endif %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
  {% endif %}
{% endblock %}